.input {
    height: 44px;
    background-color: #2A2A2A !important;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    box-shadow: none !important;
}

.passwordInput {
    height: 44px;
    background-color: #2A2A2A !important;
    margin-bottom: 10px;
    border: none;
    color: #fff;
    box-shadow: none !important;
}

.input::placeholder {
    color: #989898
}

.passwordInput input::placeholder {
    color: #989898;
}

.login-button {
    width: 100%;
    height: 44px;
}